[submodule "authuser-service"]
	path = authuser-service
	url = git@github.com:aoscarsj/authuser-service.git
	branch = main
[submodule "course-service"]
	path = course-service
	url = git@github.com:aoscarsj/course-service.git
[submodule "notification-service"]
	path = notification-service
	url = git@github.com:aoscarsj/notification-service.git
